@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error404</title>
    <link rel="stylesheet" href="~/css/Error404.css" asp-append-version="true" />
</head>
<body>
    <div>
        <aside>
            <img src="\images\errorpages\mirror.png" alt="404 Image" />
        </aside>
        <main>
            <h1>Üzgünüz!</h1>
            <p>
                Sayfa Bulunamadı! <em>. . . Aşağıdaki Linkten Anasayfaya Dönebilirsiniz.</em>
            </p>
            <a href="/Dashboard/Index/" type="button" class="home">Anasayfaya Dön</a>
            
        </main>
    </div>
</body>
</html>