@model WriterMessage
@{
    ViewData["Title"] = "SenderMessageDetails";
    Layout = "~/Views/Shared/_NewAdminLayout.cshtml";
}

<div class="col-md-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h2>Gönderilen Mesaj Detayları</h2>

            <p class="card-description">
                @Model.Date.ToString("dd.MMM.yyyy") - Kime:
                (@Model.ReceiverName)
                <a href="#">@Model.Receiver</a>
                &nbsp;<i class="ti-user"></i>
            </p>
            <p style="white-space: pre-line">
                @Model.MessageContent
            </p>
            <a href="javascript:history.back()" type="button" class="btn btn-outline-info">Geri Dön</a>
        </div>
    </div>
</div>