@using Core_Proje.Areas.Writer.Models
@model UserLoginViewModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Skydash Admin</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="~/skydash/vendors/feather/feather.css">
    <link rel="stylesheet" href="~/skydash/vendors/ti-icons/css/themify-icons.css">
    <link rel="stylesheet" href="~/skydash/vendors/css/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="~/skydash/css/vertical-layout-light/style.css">
    <!-- endinject -->
    <link rel="shortcut icon" href="~/skydash/images/favicon.png" />
</head>

<body>
    <div class="container-scroller">
        <div class="container-fluid page-body-wrapper full-page-wrapper">
            <div class="content-wrapper d-flex align-items-center auth px-0">
                <div class="row w-100 mx-0">
                    <div class="col-lg-4 mx-auto">
                        <div class="auth-form-light text-left py-5 px-4 px-sm-5">
                            <div class="brand-logo">
                                <img src="~/skydash/images/logo.svg" alt="logo">
                            </div>
                            <h4>Merhaba projenin yazar paneline hoş geldiniz!</h4>
                            <h6 class="font-weight-light">Devam etmek için lütfen kayıt olunuz.</h6>
                            <form class="pt-3" method="post">
                                <div class="form-group">
                                    <label asp-for="Mail">Mail Adresiniz</label>
                                    <input type="email" asp-for="Mail" class="form-control form-control-lg" placeholder="Mail Adresi" />
                                    <span asp-validation-for="Mail" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Password">Şifre</label>
                                    <input type="password" asp-for="Password" class="form-control form-control-lg" placeholder="Şifre" />
                                    <span asp-validation-for="Password" class="text-danger"></span>
                                </div>
                                <div class="my-2 d-flex justify-content-between align-items-center">
                                    <div class="form-check">
                                        <label class="form-check-label text-muted">
                                            <input type="checkbox" class="form-check-input">
                                            Beni Hatırla
                                        </label>
                                    </div>
                                </div>
                                @if (ViewBag.Error != null)
                                {
                                    <div style="color:red">
                                        @ViewBag.Error
                                    </div>
                                }
                                <div class="mt-3">
                                    <button class="btn btn-block btn-primary btn-lg font-weight-medium auth-form-btn">Giriş Yap</button>
                                </div>
                                <div class="text-center mt-4 font-weight-light">
                                    Bir hesabın yok mu? <a href="/Writer/Register/Index" class="text-primary"> Oluştur</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- content-wrapper ends -->
        </div>
        <!-- page-body-wrapper ends -->
    </div>
    <script src="~/skydash/vendors/js/vendor.bundle.base.js"></script>
    <script src="~/skydash/js/template.js"></script>
</body>

</html>
