
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

      @await Html.PartialAsync("/Areas/Writer/Views/Default/_HeadPartial.cshtml")

<body>
  <div class="container-scroller">
    <!-- partial:~/skydash/partials/_navbar.html -->
        @await Html.PartialAsync("/Areas/Writer/Views/Default/_NavbarPartial.cshtml")
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
      <!-- partial:~/skydash/partials/_settings-panel.html -->
   
      <!-- partial -->
      <!-- partial:~/skydash/partials/_sidebar.html -->
      @await Html.PartialAsync("/Areas/Writer/Views/Default/_SidebarPartial.cshtml")
      <!-- partial -->
      <div class="main-panel">
        <div class="content-wrapper">
         
              @RenderBody()
            
        </div>
        <!-- content-wrapper ends -->
        <!-- partial:~/skydash/partials/_footer.html -->
        
                @await Html.PartialAsync("/Areas/Writer/Views/Default/_FooterPartial.cshtml")
        <!-- partial -->
      </div>
      <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
    @await Html.PartialAsync("/Areas/Writer/Views/Default/_ScriptsPartial.cshtml")
</body>

</html>

<script src="~/lib/jquery/jquery.min.js"></script>